streamlit
malaya
youtokentome
regex
streamlit-tags
streamlit-player
langdetect
vaderSentiment
unidecode
pandas==1.2.3
numpy==1.19.5
nltk==3.5
wordcloud==1.8.1
gensim==3.8.3
tensorflow==2.5.0
